// Import Bulma's core
@import '~bulma/sass/utilities/_all';
// Import Bulma and Buefy styles
@import '~bulma/sass/helpers/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';

html{
  overflow: auto;
}

$purple-hard:#8e4995;
$purple-hard-2:#694883;
$purple-light-1:#ae75b2;
$purple-light-2:#c098b9;
$yellow-hard:#f6b633;
$yellow-light:#debb6e;